@use '../base/vars' as *;
@use '../base/mixin' as *;

.sidebar {
  padding: 0 20px 40px 32px;
  display: flex;
  flex-direction: column;

  @include mediaTablet {
    display: none;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 58px;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 29px;
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;

    &:hover {
      .menu__text {
        color: $accent-danger;
      }

      svg path {
        fill: $accent-danger;
        opacity: 1;
      }
    }

    svg path {
      transition:
        fill 0.2s ease-in,
        opacity 0.2s ease-in;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    color: $text-muted;
  }
}

.subscriptions {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 104px;

  &__title {
    font-size: 18px;
    font-weight: 700;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 29px;
  }

  &__link {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__avatar {
    width: 26px;
    height: 26px;
    border-radius: 50%;
  }

  &__name {
    font-size: 16px;
    font-weight: 400;
    color: $text-muted;
    white-space: nowrap;

    &:hover {
      color: $accent-danger;
    }
  }
}

.setting {
  &__button {
    display: flex;
    align-items: center;
    gap: 12px;

    &:hover {
      .setting__text {
        color: $accent-danger;
      }

      svg path {
        fill: $accent-danger;
        opacity: 1;
      }
    }

    svg path {
      transition:
        fill 0.2s ease,
        opacity 0.2s ease;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 400;
    color: $text-muted;
  }
}
