// fonts
$font-main: 'Mulish', sans-serif;

$text-base: #000000;
$text-primary: #19202c;
$text-secondary: #c2c2c2;
$text-muted: #898989;
$text-duration: #f2f2f2;
$text-placeholder: #30384c;
$bg-main: #f2f2f2;
$bg-placeholder: #ebebeb;
$bg-dark: #19202c;
$accent-danger: #ff0000;
$icon-default: #c2c2c2;
$border-default: #ccc;
