$font-main: 'Mulish', sans-serif;

$text-base: #000000;
$text-primary: #19202c;
$text-secondary: #c2c2c2;
$text-muted: #898989;
$text-duration: #f2f2f2;
$text-placeholder: #30384c;
$text-hover: #6a7177;
$bg-main: #f2f2f2;
$bg-placeholder: #ebebeb;
$bg-dark: #19202c;
$accent-danger: #ff0000;
$icon-default: #915d5d;
$border-default: #ccc;
$shadow-hover: rgba(201, 31, 31, 0.15);

$breakpoint-desktop: 1720px;
$breakpoint-laptop: 1150px;
$breakpoint-tablet: 850px;
$breakpoint-mobile: 580px;
